.jumbotron {
  text-align: center;
}

p {
  display: none;
}

/*.flashCards {
  float:left;
}*/

div.flashCards {

  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;

  border-style: solid;
  border-color: black;
  background-color: #D3D3D3;
}

body {
  margin:80px;
}
