.jumbotron {
  text-align: center;
}

p {
  display: none;
}

.flashCards {
  float:left;
}

div.flashCards {
  margin: 20px;
  border-style: solid;
  border-color: black;
  background-color: #D3D3D3;
}

div{
  padding: 45px;
  align-items: center;
}
